<section class="about-us-slider swiper-container" style="position: relative; padding: 0;">
    <div class="swiper-wrapper" style="display: flex;">


        <div class="swiper-slide" style="position: relative; display: flex; justify-content: center; align-items: center;">
            <img src="~/assets/img/Category/burgers-1.jpg" style="width: 100%; height: 400px; object-fit: cover;" alt="Banner">
            <div style="position: absolute; text-align: center;">
            </div>
        </div>
        <div class="swiper-slide" style="position: relative; display: flex; justify-content: center; align-items: center;">
            <img src="~/assets/img/Category/juice.jpg" style="width: 100%; height: 400px; object-fit: cover;" alt="Banner">
            <div style="position: absolute; text-align: center;">
            </div>
        </div>

        <div class="swiper-slide" style="position: relative; display: flex; justify-content: center; align-items: center;">
            <img src="~/assets/img/Category/dessert-3.jpg" style="width: 100%; height: 400px; object-fit: cover;" alt="Banner">
            <div style="position: absolute; text-align: center;">
            </div>
        </div>
        <div class="swiper-slide" style="position: relative; display: flex; justify-content: center; align-items: center;">
            <img src="~/assets/img/Category/pizza-1.jpg" style="width: 100%; height: 400px; object-fit: cover;" alt="Banner">
            <div style="position: absolute; text-align: center;">
            </div>
        </div>

        <div class="swiper-slide" style="position: relative; display: flex; justify-content: center; align-items: center;">
            <img src="~/assets/img/Category/sushi-1.jpg" style="width: 100%; height: 400px; object-fit: cover;" alt="Banner">
            <div style="position: absolute; text-align: center;">
            </div>
        </div>



    </div>
</section>