<div class="col-lg-3 row d-flex justify-content-center ps-5" style="min-height: 400px;">
    <section id="sidebannerCarousel" class="about-us-slider swiper-container p-relative" data-bs-ride="carousel">

        <div class="swiper-wrapper">
            <div class="swiper-slide slide-item active">
                <div class="large-product-box p-relative pb-0">
                    <img src="~/assets/img/sidebanner-1.jpg" class="img-fluid full-width" alt="image">

                    <div class="overlay padding-20">

                        <div class="content-wrapper">
                            <h3 class="text-custom-white">All New Restaurants</h3>
                            <a asp-action="GetAll" asp-controller="Restaurant" class="btn-submit btn-second">Browse</a>
                        </div>
                    </div>
                    <div class="overlay overlay-bg"></div>

                </div>

            </div>
            <div class="swiper-slide slide-item">
                <div class="large-product-box p-relative pb-0">
                    <img src="~/assets/img/sidebanner-2.jpg" class="img-fluid full-width" alt="image">
                    <div class="overlay padding-20">

                        <div class="content-wrapper">
                            <h3 class="text-custom-white">All New Restaurants</h3>
                            <a asp-action="GetAll" asp-controller="Restaurant" class="btn-submit btn-second">Browse</a>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>

            </div>
            <div class="swiper-slide slide-item">
                <div class="large-product-box p-relative pb-0">
                    <img src="~/assets/img/sidebanner-3.jpg" class="img-fluid full-width" alt="image">
                    <div class="overlay padding-20">

                        <div class="content-wrapper">
                            <h3 class="text-custom-white">All New Restaurants</h3>
                            <a asp-action="GetAll" asp-controller="Restaurant" class="btn-submit btn-second">Browse</a>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg"></div>

            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#sidebannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sidebannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>
</div>
