@model OrderFoodOnlineSystem.ViewModels.RestaurantManagerViewModels.UpdateRestaurantManagerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_RestaurantManagerLayout.cshtml";
}

<section class="register-restaurent-sec section-padding bg-light-theme">
    <div class="container-fluid padding-20 ps-4">
        <div class="row d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <!-- Added align-items-center and min-height -->
            <div class="col-lg-8">
                <div class="sidebar-tabs main-box padding-30 mb-md-40">
                    <div id="add-restaurent-tab" class="step-app">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-7 col-sm-7 d-flex justify-content-center">
                                <div class="step-content w-100">
                                    <!-- Added w-100 to ensure full width -->
                                    <div class="step-tab-panel active" id="steppanel1">
                                        <div class="general-sec">
                                            <form asp-action="Edit" asp-controller="RestaurantManager" style="min-height: 700px;">
                                                <input type="hidden" asp-for="@Model.Id" />
                                                <div class="row">
                                                    <div class="col-12 mb-3 mt-5">
                                                        <h5 class="text-light-black fw-700 text-center">Restaurant Manager Account Information</h5> <!-- Centered the heading -->
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <label asp-for="Name" class="text-light-black fw-700"></label>
                                                            <input asp-for="Name" class="form-control form-control-submit" placeholder="Enter Your Name">
                                                            <span asp-validation-for="Name" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group">
                                                            <label asp-for="Email" class="text-light-black fw-700"></label>
                                                            <input asp-for="Email" class="form-control form-control-submit" placeholder="i.e alard@example.com" readonly>
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <div class="form-group position-relative">
                                                            <label asp-for="CurrentPassword" class="text-light-black fw-700"></label>
                                                            <div class="position-relative">
                                                                <input asp-for="CurrentPassword" id="password-field" class="form-control form-control-submit" placeholder="Password">
                                                                <i class="fa fa-fw fa-eye position-absolute top-50 end-0 translate-middle-y me-4 toggle-password" data-name="#password-field" style="cursor: pointer;"></i>
                                                            </div>
                                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group position-relative">
                                                            <label asp-for="NewPassword" class="text-light-black fw-700"></label>
                                                            <div class="position-relative">
                                                                <input asp-for="NewPassword" id="password-field1" class="form-control form-control-submit" placeholder="Password">
                                                                <i class="fa fa-fw fa-eye position-absolute top-50 end-0 translate-middle-y me-4 toggle-password" data-name="#password-field1" style="cursor: pointer;"></i>
                                                            </div>
                                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 mb-3">
                                                        <div class="form-group position-relative">
                                                            <label asp-for="ConfirmNewPassword" class="text-light-black fw-700"></label>
                                                            <div class="position-relative">
                                                                <input asp-for="ConfirmNewPassword" id="password-field2" class="form-control form-control-submit" placeholder="Confirm Password">
                                                                <i class="fa fa-fw fa-eye position-absolute top-50 end-0 translate-middle-y me-3 toggle-password" data-name="#password-field2" style="cursor: pointer;"></i>
                                                            </div>
                                                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 mb-5 text-center">
                                                        <div asp-validation-summary="All" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn-second btn-submit">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


