@model IEnumerable<OrderFoodOnlineSystem.ViewModels.RestaurantViewModels.RestaurantViewModel>

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    List<FavouriteRestaurant>? favoriteRestaurants = ViewBag.favoriteRestaurants;

    string CategoryName = ViewBag.CategoryName;
}

<partial name="_RestaurentSliderPartial" />


<div class="  d-flex justify-content-center align-items-center pb-3 pe-5 pt-3 ps-4">


    <h3 class="display-4 text-light-black fw-600 ">@CategoryName</h3>

    <div class="dropdown ms-auto">
        <button class="btn btn-danger fw-bold rounded-pill px-4 py-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By
        </button>
        <ul class="dropdown-menu bg-light border-0 shadow rounded-3">
            <li><a asp-action="GetAllRestaurants" asp-controller="RestaurantCategory" asp-route-restaurantName="@ViewBag.restaurantName" asp-route-filter="Name" class="dropdown-item text-dark fw-semibold" style="transition: background-color 0.3s ease, transform 0.2s ease;" onmouseover="this.style.backgroundColor='#ffcccc';" onmouseout="this.style.backgroundColor='';">[A-Z]</a></li>
            <li><a asp-action="GetAllRestaurants" asp-controller="RestaurantCategory" asp-route-restaurantName="@ViewBag.restaurantName" asp-route-filter="AverageRating" class="dropdown-item text-dark fw-semibold" style="transition: background-color 0.3s ease, transform 0.2s ease;" onmouseover="this.style.backgroundColor='#ffcccc';" onmouseout="this.style.backgroundColor='';">High Ratings</a></li>
        </ul>
    </div>
</div>


<partial name="_RestaurantsPartial" model="Model" />

