@model OrderFoodOnlineSystem.ViewModels.RestaurantViewModels.RestaurantViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="card shadow-lg mx-auto" style="max-width: 500px;">

    <partial name="_Card"></partial>

    <form asp-action="Delete" class="mt-auto p-3">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>