@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="row ">
    <div class=" mb-4">
        <h1 class="text-light-black fw-600 mb-2 mt-4">Confirm Email Sent.</h1>
    </div>
    <div class=" mb-4">

        <h4 class="text-light-black fw-500 padding-9">
            Check your email and click the verification link to confirm your account before logging in.
        </h4>


        <h5 class=" mb-4 padding-10">If you can't find the confirmation email, you can request another verification link below:</h5>
        <a class="btn-second btn-submit fs-6"
           asp-action="ResendConfirmationEmail">
            Resend Confirmation Email
        </a>

    </div>


</div>
