@model OrderFoodOnlineSystem.ViewModels.AddressViewModel.CreateAddressViewModel


@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<style>
    /* Style labels */
    label {
        font-size: 15px;
    }

    /* Back button styling */
    .back {
        background-color: white;
        color: black;
        font-weight: 700;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 1;
        position: absolute;
        left: 0px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow */
    }


    .header-container {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

        /* Force button to the very left */
        .header-container .back {
            margin-right: 40px;
        }


        .header-container h2 {
            margin: 0;
            flex-grow: 1;
            text-align: center;
        }

</style>

<div class="main-sec"></div>
<!-- Navigation -->

<section class="register-restaurent-sec section-padding bg-light-theme">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9">
                <div class="sidebar-tabs main-box padding-20 mb-md-40">
                    <div id="add-restaurent-tab" class="step-app">
                        <div class="row d-flex justify-content-center">
                            <div class="col-xl-8 col-lg-7">
                                <div class="step-content">

                                    <div class="step-tab-panel active" id="steppanel1">

                                        <div class="general-sec">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="header-container">
                                                            <a asp-action="Index" asp-route-viewName="IndexAddress" class="btn back"> < </a>
                                                            <h2 class="mb-0">Add Address</h2>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <form asp-action="Create" asp-route-viewName="IndexAddress">
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="City" class="text-light-black fw-700"></label>
                                                            <input asp-for="City" class="form-control form-control-submit" placeholder="Type Your City" />
                                                            <span asp-validation-for="City" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="Street" class="text-light-black fw-700"></label>
                                                            <input asp-for="Street" class="form-control form-control-submit" placeholder="Type Your Street" />
                                                            <span asp-validation-for="Street" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="BuildingNum" class="text-light-black fw-700"></label>
                                                            <input asp-for="BuildingNum" class="form-control form-control-submit" placeholder="Type Your Building Number" />
                                                            <span asp-validation-for="BuildingNum" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="Apartment" class="text-light-black fw-700"></label>
                                                            <input asp-for="Apartment" class="form-control form-control-submit" placeholder="Type Your Apartment" />
                                                            <span asp-validation-for="Apartment" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="Floor" class="text-light-black fw-700"></label>
                                                            <input asp-for="Floor" class="form-control form-control-submit" placeholder="Type Your Floor" />
                                                            <span asp-validation-for="Floor" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label asp-for="PhoneNum" class="text-light-black fw-700"></label>
                                                            <input asp-for="PhoneNum" class="form-control form-control-submit" placeholder="Type Your Phone Number" />
                                                            <span asp-validation-for="PhoneNum" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn-second btn-submit ">Add Address</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>




                                        </div>
                                    
                                    </div>

                                
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
